/* 
FONTS
*/
    .title-level-1 {
        font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        font-size: 40px;
        font-weight: 900;
        color: red;
    }

    .medium .title-level-1{
        font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        font-size: 30px;
        font-weight: 900;
        color: red;
    }

    .small .title-level-1{
        font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        font-size: 20px;
        font-weight: 900;
        color: red;
    }
/**/