/* 
Reset
*/
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html{
        font-size: 62.5%;
    }

    body{
        font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        font-size: 1.6rem;
        color: #606c76;
    }

    a{
        color: inherit;
    }

    a:not([target="_blank"]){
        text-decoration: none;
    }

    header, main, footer{
        max-width: 95rem;
        margin: auto;
        padding: 0 2rem;
    }

    table {
        border-spacing: 0;
        display: table;
        text-align: left;
        width: 100%;
    }

    td,
    th {
        border-bottom: 0.1rem solid #e1e1e1;
        padding: 1.2rem 1.5rem;
    }

    td:first-child,
    th:first-child {
        padding-left: 0;
    }

    td:last-child,
    th:last-child {
        padding-right: 0;
    }
    
    pre {
        white-space: pre-line;
    }

    section{
        padding: 2rem 0;
    }

    .active{
        color: black;
    }
/**/

/* 
Header
*/
    header, footer{
        display: flex;
        flex-direction: column;
        height: 10rem;
    }

    header section{
        margin: auto;
        width: 100%;
        border-bottom: .1rem solid grey;
        padding-bottom: 1rem;
    }

    nav ul{
        font-weight: 900;
        text-transform: uppercase;
        display: flex;
        list-style: none;
    }

    nav li:not(:last-child){
        margin-right: 1rem;
    }
/**/

main{
    height: calc(100vh - 15rem);
    overflow: auto;
}

/* 
Footer
*/
    footer{
        height: 5rem;
    }

    footer p{
        margin: auto;
        width: 100%;
    }
/**/

/* 
Common
*/
    .col-3{
        margin-top: 2rem;
        display: flex;
        justify-content: space-between;
    }

    .col-3 > *{
        width: calc(33.3333% - 1rem);
        padding: 2rem;
        border: .1rem solid grey;
        position: relative;
    }

    .col-3 h3{
        font-size: 1rem;
        font-weight: 900;
        position: absolute;
        left: .5rem;
        top: .5rem;
    }
/**/